@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
::selection {
  color: white;
  background-color:  #5a2d14;;
}
body {
  padding: 0;
  margin: 0;
  font-family: Hind, sans-serif;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* font size for headings and prompts */
h1, h2, p {
  font-size: 24px; /* Adjust the font size as needed */
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star { 
  background: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* Update star icon size */
.stars button svg {
  width: 32px; /* Adjust the width and height as needed */
  height: 32px;
}

textarea {
  width: 95%;
  height: 9.9rem;
  resize: vertical;
  border-radius: 10px;
  border: none;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
  font-family: Hind, sans-serif;
  transition-duration: 0.1s;
}
.submit {
  background-color: #5a2d14; /* Dark brown */
  padding: 20px;
  border-radius: 10px;
  color: white;
  transition-duration: 0.25s;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  font-size: 24px; /* Adjust the font size as needed */
}
.submit:hover {
  border: none;
}
.submit:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
  background-image: none;
  background-color:  #5a2d14;
  border: none;
  fill:  #5a2d14;
  color: #5a2d14;
}
.submit h2 {
  font-family: Hind, sans-serif;
}
::-webkit-scrollbar {
  width: 30px;
}
::-webkit-scrollbar-track {
  background:  #5a2d14;
}
::-webkit-scrollbar-thumb {
  background:  #5a2d14;
  border: 4px solid #cccccc;
  border-radius: 15px;
  transition-duration: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a2d14;
}
.review-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
  padding: 10px;
  width: 93%;
  text-align: left;
}
.vertical-padding {
  padding: 5px;
}
.title {
  text-align: center;
}
.reviews {
  display: none;
}
button p {
  font-family: Hind, sans-serif;
}
.goto {
  border-radius: 10px;
  background: none;
  border: none;
  color: #0b79e6;
  opacity: 0.6;
  transition-duration: 0.2s;
}
.goto:hover {
  background: rgba(11, 121, 230, 0.25);
}
.goto:active {
  opacity: 1;
}
button {
  cursor: pointer;
}
.input {
  display: initial;
}
.back {
  position: fixed;
  top: 20px;
  right: 30px;
  border-radius: 35px;
  border: none;
  background: none;
  transition-duration: 0.2s;
}
.back:hover {
  background: #dbdbdb;
}
.main {
  border: 15px outset black;
  padding: 20px;
  border-radius: 30px;
}